body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 20%;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.rectangle-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: black;
  color: white;
  border: 2px solid #9d7d2a;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.rectangle-button:hover {
  background-color: #9d7d2a;
  color: black;
}
